<% layout("/layouts/boilerplate") %>

<style>
    .AllListings {
        color: red;
        margin-top: 20px;
    }
    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filter{
        margin-top: 1rem;
        text-align: center;
        margin-right: 2rem;
        opacity: 0.8;
    }
    .filter p {
        font-size: 0.8rem;
    }
    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }
    #filters {
    display: flex;
    flex-wrap: wrap;
     /* filters left, toggle right */
     /* vertical alignment */
}
.tax-toggle {
    margin-left: auto; /* force right side */
}
.tax-info {
    display: none;
}
.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
}

</style>
<body>
  
<div id="filters">
    <div class="filter">
        <a href="/listings/trending"><div><i class="fa-solid fa-fire"></i></div></a>
         <p>Trending</p>
    </div>
    <div class="filter">
        <a href="/listings/rooms"><div><i class="fa-solid fa-bed-pulse"></i></div></a>
         <p>Rooms</p>
    </div>
    <div class="filter">
       <a href="/listings/iconic"> <div><i class="fa-solid fa-mountain-city"></i></div></a>
         <p>Iconic Cities</p>
    </div>
    <div class="filter">
       <a href="/listings/mountains"> <div><i class="fa-solid fa-mountain-sun"></i></div></a>
         <p>Mountains</p>
    </div>
    <div class="filter">
       <a href="/listings/castles"> <div><i class="fa-solid fa-chess-rook"></i></div></a>
         <p>Castles</p>
    </div>
    <div class="filter">
        <a href="/listings/pool"><div><i class="fa-solid fa-person-swimming"></i></div></a>
         <p>Amazing Pool</p>
    </div>
     <div class="filter">
       <a href="/listings/camping"> <div><i class="fa-solid fa-campground"></i></div></a>
         <p>Camping</p>
    </div>
    <div class="filter">
       <a href="/listings/farms"> <div><i class="fa-solid fa-tractor"></i></div></a>
         <p>Farms</p>
    </div>
    <!-- <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
         <p>Artic Pool</p>
    </div> -->
     
    <div class="tax-toggle">
        <div class="form-check form-switch form-check-reverse">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Displat total after taxes</label>
     </div>
   </div>

</div>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 mt-1">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="col listing-card">
            <div class="card h-100 listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image" style="height: 16rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %><br></b>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %>/ night
                        <i class="tax-info"> &nbsp;+18% GST</i>
                    </p>
                </div>
            </div>
        </div>
        </a>
    <% } %>
</div>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo) {
        if(info.style.display != "inline") {
            info.style.display = "inline";
        }else {
            info.style.display = "none";
        }
    }
});
</script>












    <!-- <ul>
       <% for(let listing of allListings) { %>
            <li><a href="listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul> -->
</body>
